<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Dhyani Tracks</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
        <link rel="icon" href="image/DHYANI TRACKS LOGO SOFT.PNG">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <!-- Left side login/account box -->
        <div class="account-box">
            {% if not session.get('user') %}
            <a href="{{ url_for('login') }}" class="login-link">Login</a>
            {% else %}
            <p>Welcome, {{ session['user'].split('@')[0] }} 👋</p>
            {% endif %}
        </div>

        <section id="header">
            <a href="#"><img src="image/DHYANI TRACKS LOGO SOFT.PNG" class="logo" style="width: 60%;" alt=""></a>

            <div>
                <ul id="navbar">
                <li><a class="active" href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('shop') }}">Shop</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li id="lg"><a href="{{ url_for('cart') }}"><i class="far fa-shopping-bag"></i></a></li>
                <a href="#" id="close"><i class="far fa-times"></i></a>
                </ul>

            </div>
            <div id="mobile">
                <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
                <i id="bar" class="fas fa-outdent"></i>
            </div>
        </section>

        <section id="hero">
            <h4>Trade-in-offer</h4>
            <h2>Super value deals</h2>
            <h1>On all products</h1>
            <p style="color: aliceblue;">Save more with coupons & up to 70% off! </p>
            <button>Shop Now</button>
        </section>

        <section id="feature" class="section-p1">
            <div class="fe-box">
                <img src="image/feature/f1.png" alt="" srcset="">
                <h6>Free Shipping</h6>
            </div>
            <div class="fe-box">
                <img src="image/feature/f2.png" alt="" srcset="">
                <h6>Online Order</h6>
            </div>
            <div class="fe-box">
                <img src="image/feature/f3.png" alt="" srcset="">
                <h6>Save Money</h6>
            </div>
            <div class="fe-box">
                <img src="image/feature/f4.png" alt="" srcset="">
                <h6>Promotions</h6>
            </div>
            <div class="fe-box">
                <img src="image/feature/f5.png" alt="" srcset="">
                <h6>Happy Sell</h6>
            </div>
            <div class="fe-box">
                <img src="image/feature/f6.png" alt="" srcset="">
                <h6>F24/7 Support</h6>
            </div>
        </section>

        <section id="product1" class="section-p1">
            <h2>Featured Products</h2>
            <p>Western Wear Products</p>
            <div class="pro-container">
                <div class="pro">
                    <img src="image/products/1100w/f1.jpg" alt="">
                    <div class="des">
                        <span>ALTAIR</span>
                        <h5>Blended Solid Slim Fit Polo Tshirt</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>₹350</h4>
                    </div>
                    <a href=""><i class="fal fa-shopping-cart cart"></i></a>
                </div>
            
            <div class="pro">
                <img src="image/products/1100w/f2.jpg" alt="">
                <div class="des">
                    <span>MVMT</span>
                    <h5>HONEYCOMB SOLID POLO TSHIRT</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹350</h4>
                </div>
                <a href=""><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="image/products/1100w/f3.jpg" alt="">
                <div class="des">
                    <span>MVMT</span>
                    <h5>SPORTS TSHIRT LYCRA</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹300</h4>
                </div>
                <a href=""><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="image/products/1100w/f4.jpg" alt="">
                <div class="des">
                    <span>MVMT</span>
                    <h5>HONEYCOMB SOLID POLO TSHIRT</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹350</h4>
                </div>
                <a href=""><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="image/products/1100w/f5.jpg" alt="">
                <div class="des">
                    <span>MVMT</span>
                    <h5>HONEYCOMB SOLID POLO TSHIRT</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹350</h4>
                </div>
                <a href=""><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="image/products/1100w/f6.jpg" alt="">
                <div class="des">
                    <span>MVMT</span>
                    <h5>PC LS SOLID TEE Men Tshirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹250</h4>
                </div>
                <a href=""><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="image/products/1100w/f7.jpg" alt="">
                <div class="des">
                    <span>ALTAIR</span>
                    <h5>Blended Solid Slim Fit Polo Tshirt</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹350</h4>
                </div>
                <a href=""><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="image/products/1100w/f8.jpg" alt="">
                <div class="des">
                    <span>ALTAIR</span>
                    <h5>Blended Solid Slim Fit Polo Tshirt</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹350</h4>
                </div>
                <a href=""><i class="fal fa-shopping-cart cart"></i></a>
            </div>
        </div>
        </section>

        <section id="banner" class="section-m1">
            <h4>Repair Services</h4>
            <h2>Also Manufactures Sportswear Product Ondemand</h2>
            <button class="normal">Explore More</button>
        </section>

        <section id="product1" class="section-p1">
            <h2>Winters</h2>
            <p>Uppers for Winters</p>
            <div class="pro-container">
                <div class="pro">
                    <img src="image/products/1100w/n1.jpg" alt="">
                    <div class="des">
                        <span>T&H</span>
                        <h5>Polyester Windbreakers</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>₹750</h4>
                    </div>
                    <a href=""><i class="fal fa-shopping-cart cart"></i></a>
                </div>
            
            <div class="pro">
                <img src="image/products/1100w/n2.jpg" alt="">
                <div class="des">
                    <span>T&H</span>
                    <h5>Polyester Windbreakers</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹750</h4>
                </div>
                <a href=""><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="image/products/1100w/n3.jpg" alt="">
                <div class="des">
                    <span>T&H</span>
                    <h5>Polyester Windbreakers</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹750</h4>
                </div>
                <a href=""><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="image/products/1100w/n4.jpg" alt="">
                <div class="des">
                    <span>T&H</span>
                    <h5>Polyester Windbreakers</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹750</h4>
                </div>
                <a href=""><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            </div>

            <h2>Summers</h2>
            <p>Beat the HEAT</p>
            <div class="pro-container">
            <div class="pro">
                <img src="image/products/1100w/n5.jpg" alt="">
                <div class="des">
                    <span>CH</span>
                    <h5>Polyester</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹250</h4>
                </div>
                <a href=""><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="image/products/1100w/n6.jpg" alt="">
                <div class="des">
                    <span>CH</span>
                    <h5>Polyester</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹250</h4>
                </div>
                <a href=""><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="image/products/1100w/n7.jpg" alt="">
                <div class="des">
                    <span>TOM HIDDLE</span>
                    <h5>Cotton Tshirt</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹290</h4>
                </div>
                <a href=""><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="image/products/1100w/n8.jpg" alt="">
                <div class="des">
                    <span>TOM HIDDLE</span>
                    <h5>Cotton Tshirt</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹290</h4>
                </div>
                <a href=""><i class="fal fa-shopping-cart cart"></i></a>
            </div>
        </div>
        </section>

        <section id="sm-banner" class="section-p1">
            <div class="banner-box">
                <h4>crazy deals</h4>
                <h2>buy 1get 1 free</h2>
                <span>The best sportswear is on sale at Dhyani Tracks</span>
                <button class="white">Learn More</button>
            </div>
            <div class="banner-box banner-box2">
                <h4>spring/summer</h4>
                <h2>upcoming season</h2>
                <span>The best classic dress is on sale at Dhyani Tracks</span>
                <button class="white">Collection</button>
            </div>
        </section>

        <section id="banner3">
            <div class="banner-box">
                <h2>SEASONAL SALE</h2>
                <h3>Winter Collection -50% OFF</h3>
            </div>
            <div class="banner-box banner-box2">
                <h2>NEW FOOTWEAR COLLECTION</h2>
                <h3>Spring/Summer 2023</h3>
            </div>
            <div class="banner-box banner-box3">
                <h2>T-SHIRTS</h2>
                <h3>New Trendy Prints</h3>
            </div>
        </section>
        
        <section id="newsletter" class="section-p1 section-m1">
            <div class="newstext">
                <h4>Sign Up For Newsletters</h4>
                <p>Get E-mail updates about our latest shop and <span> special offers.</span></p>
            </div>
            <div class="form">
                <input type="text" placeholder="Your email address">
                <button class="normal">SignUp</button>
            </div>
        </section>

        <footer class="section-p1">
            <div class="col">
                <img class="logo" src="image/DHYANI TRACKS LOGO SOFT.png" alt="">
                <h4>Contact</h4>
                <p><strong>Address:</strong> Dhyani Military Evam Sports Store (Dhyani Tracks), Morar Cantt.(474006), Gwalior, Madhya Pradesh</p>
                <p><strong>Phone:</strong> +91-9827646027 / +91-8269</p>
                <p><strong>Hours:</strong> 10:00-20:00. Mon-Sat</p>
                <div class="follow">
                    <h4>Follow us</h4>
                    <div class="icon">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-whatsapp"></i>
                    </div>
                </div>
            </div>

            <div class="col">
                <h4>About</h4>
                <a href="#">About us</a>
                <a href="#">Delivery Information</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms & Condition</a>
                <a href="#">Contact us</a>
            </div>

            <div class="col">
                <h4>My Account</h4>
                <a href="#">Sign In</a>
                <a href="#">View Cart</a>
                <a href="#">My Wishlist</a>
                <a href="#">Track My Order</a>
                <a href="#">Help</a>
            </div>

            <div class="copyright">
                <p>© 2022-2023, DHYANI TRACKS </p>
            </div>
        </footer>
        
        <script src="script.js"></script>
        
    </body>

</html>